# Dependencies
node_modules/
package-lock.json

# Logs
logs/
*.log
npm-debug.log*

# PM2
.pm2/

# Environment
.env
.env.local

# SSL certificates
ssl/
*.pem
*.key
*.crt

# Docker
.docker/

# OS
.DS_Store
Thumbs.db
